$('#error').remove();
<% if @comment&.errors.present? %>
  <% @comment.errors.full_messages.each do |message| %>
    $('.comments').append('<div id="error"><%= j message %></div>');
  <% end %>
<% else %>
  $('.<%= @comment.commentable_type.underscore %>_<%= @commentable.id %>_comments').append('<%= j render @comment %>');
  $('#new_comment_<% @comment.commentable_type.underscore %>_<% @commentable.id %>').hide()
<% end %>



